# Virtual Environment
.venv/
venv/
ENV/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Flask/App Uploads
static/uploads/*
!static/uploads/.gitkeep

# Environment Variables
.env

# Instance folder
instance/

# IDE files
.vscode/
.idea/
